@import './components/Button/Button-module.css';
@import './components/Searchbar/Seachbar-module.css';
@import './components/ImageGallery/ImageGallery-module.css';
@import './components/ImageGallery/ImageGalleryItem-module.css';
@import './components/Modal/Modal-module.css';
@import './components/Loader/Loader-module.css';
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
